NEXT_PUBLIC_SUPABASE_URL=https://yoxgvrsounnotrufakkz.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-z9utFgLAW6bNyXOU-5FSQ_i63SUDzu
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlveGd2cnNvdW5ub3RydWZha2t6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NTMzNzAwMiwiZXhwIjoyMTAwOTEzMDAyfQ.dR2-X8D66u9UWoVD3VVB1-72UeSf_3bIJQuLdRyzWX4
SUPABASE_JWKS_URL=https://yoxgvrsounnotrufakkz.supabase.co/auth/v1/.well-known/jwks.json

DATABASE_URL=postgresql://postgres.yoxgvrsounnotrufakkz:chuduyisme123@aws-1-ap-south-1.pooler.supabase.com:6543/postgres

INITIAL_ADMIN_EMAIL=duywinter@gmail.com
INITIAL_ADMIN_PASSWORD=admin
INITIAL_ADMIN_FULL_NAME=CHU QUANG DUY
